.heading{
    font-size: 25px;
    color: black;
    font-weight: 700;
    margin: 10px;
}
.sidebar{
    width: 100%;
    border:1px solid black;
    display: flex;
    flex-direction: column;
}
.subheading{
    font-size: 20px;
    margin: 10px;
}
.headingContent{
    display: flex;
    justify-content: left;
    gap: 8px;
    align-items: center;
}
.dropdownContent{

}